.slick-prev:before, .slick-next:before {

    color: white !important;
    font-size: 3rem !important;
    border-radius: 50% ;
    padding: 0 !important;
    display: none;
    

}

.activeFilm {
    color: #333;
    background-color: rgb(192, 182, 135);
}

.noneActiveFilm {
    @apply bg-gray-100 text-gray-800
}